/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* * {
    outline: 1px solid black;
} */

.topbar {
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
}

#you {
    color:black;
    display: inline;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

#gmail {
    color:black;
    display: inline;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

#images {
    color:black;
    display: inline;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

#box {
    color:black;
    display: inline;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

#signin {
    color:white;
    display: inline;
    text-decoration: none;
    border: solid blue 2px;
    border-radius: 3px;
    background-color: blue;
    text-align: center;
    padding-left: 5px;
    padding-right: 10px;
}

.google {
    text-align: center;
}

h1 {
    display: inline;
    /* position: relative; */
    text-align: center;
    font-size: 5em;
}

.searchbar {
    text-align: center;
}

/* .mic {
    background: url(data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5B…EoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs=) no-repeat center;
    background-size: 14px 19px;
    display: inline-block;
    height: 23px;
    width: 17px;
} */

input {
    border-radius: 2px;
    border: 1px solid rgb(235, 227, 227);
    /* padding-left: 200px;
    padding-right: 200px; */
    /* margin-left: 375px; */
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    margin: 10px auto 10px auto;
}

.searchFeelinglucky {
    text-align:center;
}

#search {
    /*font-family: arial;*/
    font-size: .75em;
    display: inline;
    border: solid rgb(179, 174, 174) 2px;
    border-radius: 3px;
    background-color: rgb(235, 227, 227);
    text-align: center;
    padding: 5px;
    margin: 2.5px;
}

#lucky {
    /*font-family: arial;*/
    font-size: .75em;
    display: inline;
    border: solid rgb(179, 174, 174) 2px;
    border-radius: 3px;
    background-color: rgb(235, 227, 227);
    text-align: center;
    padding: 5px;
    margin: 2.5px;
}


.footer {
    background-color:rgb(235, 229, 229);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.bottomRowL {
    /* display: inline; */
    /* text-align: left; */
    float: left;
    background-color:rgb(235, 229, 229);
    padding: 15px;
}

#advert {
    display: inline;
    padding-left: 10px;
    padding-right: 10px; 
}

#business {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#about {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.bottomRowR {
    /* display: inline; */
    /* text-align: right; */
    float: right;
    background-color:rgb(235, 229, 229);
    padding: 15px;
}

#privacyterms {
    display: inline;
    margin-left: 750px;
    padding-left: 10px;
    padding-right: 10px;
}

#settings {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

/* .bottom {
    background-color:rgb(235, 229, 229);
} */